<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
</head>


<body class="pe-4 ps-4">
    <h1 class="mt-5 text-center">Log In</h1>

    <main class="d-flex justify-content-center align-items-center " >
        <form class="col-12 col-sm-6 col-lg-4">
            <div class="form-group mt-3">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
            </div>
   

            <div class="form-group mt-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="email"  placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary mt-2 ml-auto d-block m-auto">Log In</button>
        </form>
    </main>
    <p class="text-center mt-5">If you don't have an account, <a href="Signin.html">click here</a> to sign in</p>



    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>