<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="pe-4 ps-4">
    <h1 class="mt-5 text-center text-success">Authenticated</h1>
    <p class="text-center mt-5">You are logged in as the user XYZ, if you want to logout, just click <a href="#">here</a></p>

    <!-- <main class="d-flex justify-content-center align-items-center" >


    </main> -->




    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>