<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="pe-4 ps-4">
    <h1 id="logged-user-msg" class="mt-5 text-center text-success"></h1>

    <button onclick="logout()" class="btn btn-primary mt-2 ml-auto d-block m-auto">Edit account</button>
    <button onclick="deleteUser()" class="btn btn-primary mt-2 ml-auto d-block m-auto">Delete account</button>
    <button onclick="logout()" class="btn btn-primary mt-2 ml-auto d-block m-auto">Log out</button>

    <p style="font-size: 20px" class="error-message text-danger bold fw-bolder text-center"></p>
    <p style="font-size: 20px" class="success-message text-success bold fw-bolder text-center"></p>
    <!-- <main class="d-flex justify-content-center align-items-center" >


    </main> -->



    <script src="index.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>