<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>


<body class="pe-4 ps-4">
    <h1 class="mt-5 text-center">Sign In</h1>

    <main class="d-flex justify-content-center align-items-center" >
        <form id="form" class="col-12 col-sm-6 col-lg-4">
            <div class="form-group mt-3">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your first name">
            </div>
   
            <div class="form-group mt-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>



            <div class="form-group mt-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password"  placeholder="Enter your password">
            </div>

            <div class="form-group mt-3">
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" class="form-control" id="confirmPassword"  placeholder="Confirm your password">
            </div>
            <button onclick="createUser()" type="submit" class="btn btn-primary mt-2 ml-auto d-block m-auto">Sign In</button>
        </form>

    </main>
    <p class="text-center mt-5">If you already have an account, <a href="Login.html">click here</a> to log in</p>

    <div class="message-container mt-5">
        <p style="font-size: 20px" class="error-message text-danger bold fw-bolder text-center"></p>
        <p style="font-size: 20px" class="success-message text-success bold fw-bolder text-center"></p>
    </div>

    <script src="index.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>